asgiref==3.4.1
dj-database-url==0.5.0
Django==3.2.6
django-heroku==0.3.1
django-postgres-copy==2.6.0
gunicorn==20.1.0
numpy==1.19.5
pandas==1.1.5
psycopg2==2.9.1
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
whitenoise==5.3.0
